---
interface Props {
  identifier: string;
  url: string;
}

const { identifier, url } = Astro.props;
---

<div id="disqus_thread"></div>

<script is:inline>
  var disqus_config = function () {
    const astroUrl = "${url}";
    const astroId = "${identifier}";
    this.page.url = astroUrl.startsWith("$") ? window.location.href : astroUrl;
    this.page.identifier = astroId.startsWith("$") ? window.location.pathname : astroId;
  };

  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://sazblog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>